header{
	height: 100px;
	background-color: aqua;
}
section{
	height: 150px;
	background-color: red;
}




nav{
	width: 300px;
	height: 30px;
	background-color: purple;
	float: right;


}


aside{
	background-color: greenyellow;
	height: 500px;

}

main{
	float: right;


	background-color: yellow;
	width: 1000px;
	height: 500px;


}
footer{
	height: 100px;
	background-color: green;


}
